html {
    background-color: black;
    overflow: hidden;
    cursor: url(../media/images/godscursor.png), none;
    margin: 0;
    padding: 0
}

body{
    padding: 0;
    margin:0;
}

#heart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#code {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 60px;
    font-size: 45px;
    background-color: darkred;
    color: white;
    text-align: center;
    outline: none;
    border: none;
}

#code::-webkit-inner-spin-button, 
#code::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    appearance:textfield;
}

